
//@import '/assets/css/_variables.scss';

.login-clean{
    background: #f1f7fc;
    padding-top: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    form {
      max-width: 420px;
      width: 90%;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 40px;
      color: #505e6c;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
      .form-control {
        background: rgb(218, 218, 218);
        border: none;
        border-bottom: 1px solid #dfe7f1;
        border-radius: 25px;
        box-shadow: none;
        outline: none;
        color: rgb(111, 110, 110);
        text-indent: 8px;
        height: 42px;
      }
      h2{
        font-size: 24px;
        line-height: 1.5;
      }
      .btn{
        text-align: center;
        width: 50%;
        font-size: 1.2rem;
        background: blue;
        //background: $color3;
        color: #dfe7f1;
        border: none;
        border-radius: 25px;
        box-shadow: none;
        margin-top: 26px;
        text-shadow: none;
        outline: none !important;
      }
      .btn, .btn-primary:hover, .btn-primary:active {
        background: blue;
        //color: $color3;

      }   
      .btn-primary:active {
        transform: translateY(1px);
      }
      .forgot {
        display: block;
        text-align: center;
        font-size: 1rem;
        color: blue;
        //color: $color3;
        text-decoration: none;
        &:hover, &:active {
          text-decoration: none;
        }
      }     
    }  
  }
  
  